@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

body {
    background-color: #f8f8f8;
}

a:hover {
    color: #000;
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.buttonLink {
    color: #f0f0f0;
    background-color: rgb(82, 72, 226);
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 100px;
    transition: all .3s;
    display: inline-block;
    margin-top: 40px;
}

.buttonLink:hover {
    color: #fff;
    background-color: rgb(238, 69, 120);
}

/* Header, Navbar and Landing Page styling */

header {
    padding: 20px;
    height: 100vh;
}

header .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

header #navBar {
    margin: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #navBar .logo {
    min-width: 120px;
}

header #navBar ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
    font-weight: 400;
}

header #navBar ul li a {
    text-decoration: none;
    color: #333;
    transition: all .3s;
}

header #navBar ul li .specialNavBarItem {
    color: #f0f0f0;
    background-color: rgb(82, 72, 226);
    padding: 15px 20px;
    border-radius: 100px;
    transition: all .3s;
}

header #navBar ul li .specialNavBarItem:hover {
    color: #fff;
    background-color: rgb(238, 69, 120);
}

header #landingPageContent {
    text-align: center;
    margin-top: 150px;
}

header #landingPageContent h1 {
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
}

header #landingPageContent .subTitle {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

header #landingPageContent .credits {
    margin-top: 20px;
    font-style: italic;
    line-height: 1.5;
}

header #landingPageContent .socialMediaDiv {
    margin-top: 40px;
}

header #landingPageContent .socialMediaDiv .socialMedia {
    margin: 0 40px;
    font-size: 1.5rem;
    color: #000;
    transition: all .3s;
}

header #landingPageContent .socialMediaDiv .socialMedia:hover {
    color: rgb(238, 69, 120);
}

/* About Me, More on Drones and Contact Me styling */

main .bodySection {
    margin-top: 100px;
}

main .bodySection {
    text-align: center;
    line-height: 1.5;
}

main h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

main .bodySection p {
    display: inline-block;
    width: 55%;
}

main #aboutMe .specialText {
    font-weight: 700;
    background: -webkit-linear-gradient(left, rgb(82, 72, 226), rgb(238, 69, 120));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}